.calculator {
	width: 300px;
	height: 500px;
	border: 1px solid red;
	margin: 0 auto;
}

.calculator-output {
	width: 300px;
	height: 100px;
}

.calculator-buttons {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(5, 20%);
}

.calculator-buttons:nth-child(even) {
	background: red;
}

.calculator-buttons:nth-child(odd) {
	background: green;
}